@import "./font.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Lores9";
    font-weight: 600;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0;
}

.nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    background: #00ff7bc8;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        padding: 20px 0;
        position: relative;

        &-link {
            padding: 20px 0;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 33px;
            color: darkcyan;
            transition: 0.5s;
            text-shadow: 1px 1px #00ff7c, 2px 2px #026c52;
            &:hover {
                -webkit-text-stroke: 1px darkcyan;
                // color: transparent;
                text-shadow: 1px 1px #00ff7c, 2px 2px #00ff7c, 3px 3px #026c52;
                font-size: 25px;
                cursor: url(../images/pointer3.svg), auto;
            }
        }

        .home-link {
            font-size: 25px;
            &:hover {
                font-size: 30px;
                background: url(../images/blinking.gif) center/cover no-repeat;
            }
        }

        .project-link:hover {
            background: url(../images/pikachu2.gif) center no-repeat;
        }

        .contact-link:hover {
            background: url(../images/phone.gif) center no-repeat;
        }

        @keyframes wavy {
            0% {
                transform: translateX(-5%);
            }

            100% {
                transform: translateX(-80%);
            }
        }
    }
}

.header {
    background: linear-gradient(0deg, #2f3737 35%, #b05f45 55%, #987880 75%);
    width: 100%;
    height: 100vh;
    cursor: url(../images/cursor.svg), auto;
    overflow: hidden;
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    justify-content: center;
    &__content {
        background: url(../images/nature-2.gif) center/cover no-repeat;
        background-size: 650px 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
        gap: 70px;

        &-link {
            cursor: url(../images/pointer.svg), auto;
            &-list {
                display: flex;
                align-items: center;
                gap: 40px;
                white-space: nowrap;

                &-item {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 170px;
                    text-transform: uppercase;
                    line-height: 150px;
                    -webkit-text-stroke: 5px #fff200;
                    color: transparent;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover .header__content-link-list-item {
                color: #fff200;
            }
        }

        &-title {
            padding: 40px 0;
            text-align: center;
            font-size: 24px;
            line-height: 24px;
            color: #fff200;
            -webkit-text-stroke: 1.5px black;
        }
    }
}

.hover-marquee {
    &:hover {
        animation: marquee 4.5s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}

.marquee {
    animation: marquee 10s linear infinite;

    &:hover {
        animation-play-state: paused;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}

.marquee2 {
    animation: marquee2 15s linear infinite;

    &:hover {
        animation-play-state: paused;
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

.project {
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    justify-content: center;
    background: #385880;
    position: relative;
    cursor: url(../images/cursor2.svg), auto;
    background-image: url(../images/nature-bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 70px;
        z-index: 3;

        &-link {
            cursor: url(../images/cursor2.svg), auto;
            &-list {
                display: flex;
                align-items: center;
                gap: 100px;
                white-space: nowrap;

                &-item {
                    display: inline-block;
                    margin-right: 20px;
                    font-size: 175px;
                    text-transform: uppercase;
                    line-height: 130px;
                    -webkit-text-stroke: 5px #00ff7c;
                    color: transparent;
                    cursor: url(../images/pointer2.svg), auto;
                }
            }

            &:hover .project__content-link-list-item {
                -webkit-text-stroke: 1px transparent;
                color: #00ff7c;
            }
        }
    }
}
.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23FB00DB' fill-opacity='.2' fill-rule='evenodd'/%3E%3C/svg%3E"),
        linear-gradient(90deg, #00ff7c 0%, #00ff7c 100%);
    animation: shift 32s linear infinite;
    cursor: url(../images/cursor3.svg), auto;
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-top {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            &-title {
                padding: 200px 0 0;
                color: transparent;
                font-size: 120px;
                line-height: 100px;
                text-align: center;
                font-weight: 600;
                transition: 0.5s;
                -webkit-text-stroke: 7px #008b8b;
                animation: rotate 5s linear infinite;
                & span {
                    font-size: 90px;
                }

                &:hover {
                    text-shadow: 1px 1px #00ff7c, 2px 2px #00ff7c, 3px 3px #00ff7c, 4px 4px #026c52, 5px 5px #026c52, 6px 6px #026c52;
                    -webkit-text-stroke: 1px darkcyan;
                    color: darkcyan;
                    background: url(../images/floating_mac.gif) center no-repeat;
                }
            }
            &-link {
                position: relative;
                width: 140px;
                height: 140px;
                animation: jump 1s linear infinite;
                & img {
                    width: 100%;
                    height: 100%;
                }
                &::before {
                    position: absolute;
                    top: 15px;
                    left: 10%;
                    content: "About Me!";
                    font-size: 20px;
                    line-height: 25px;
                    color: darkcyan;
                }
                &:hover {
                    cursor: url(../images/pointer3.svg), auto;
                }
            }
        }

        &-bottom {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 50px;
            width: 100%;
            background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23361900' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E"),
                linear-gradient(90deg, rgba(255, 196, 0, 1) 0%, rgba(255, 196, 0, 1) 100%);
            animation: shift 32s linear infinite;
            &-text {
                font-weight: 700;
                font-size: 35px;
                line-height: 85px;
                color: darkslategray;
                text-shadow: 1px 1px #00ff7c, 2px 2px darkslategray;
                text-decoration: underline;
            }

            &-list {
                display: grid;
                column-gap: 40px;
                grid-template-columns: repeat(4, 1fr);

                &-title {
                    grid-column: span 4;
                    font-size: 50px;
                    color: #026c52;
                    text-shadow: 1px 1px #00ff7c, 2px 2px #026c52;
                    text-transform: uppercase;
                }
                &-item {
                    font-size: 30px;
                    text-transform: uppercase;
                }

                .html-item {
                    color: #ff5e00;
                    text-shadow: 1px 1px #ffb685, 2px 2px #ff5e00;
                }
                .css-item {
                    color: #001eff;
                    text-shadow: 1px 1px #ffffff, 2px 2px #001eff;
                }
                .js-item {
                    color: #ffd900;
                    text-shadow: 1px 1px #ffd900, 2px 2px #ffd900, 3px 3px #000000;
                    -webkit-text-stroke: 1px #000000;
                }
                .git-item {
                    color: #0d1117;
                    text-shadow: 1px 1px #a8a8a8, 2px 2px #0d1117;
                    -webkit-text-stroke: 1px #a8a8a8;
                }
                .btrp-item {
                    color: #dec5ff;
                    text-shadow: 1px 1px #dec5ff, 2px 2px #37007e;
                    -webkit-text-stroke: 1px #37007e;
                }
                .vue-item {
                    color: #33475b;
                    text-shadow: 1px 1px #33475b, 2px 2px #40b27f;
                    -webkit-text-stroke: 1px #40b27f;
                }
                .scss-item {
                    color: #f7f7f7;
                    text-shadow: 1px 1px #f7f7f7, 2px 2px #cd669a;
                    -webkit-text-stroke: 1px #cd669a;
                }
            }
            &-resume {
                & a {
                    font-size: 25px;
                    text-align: center;
                    color: #00ff7c;
                    -webkit-text-stroke: 2px #008b8b;
                    animation: opacity 0.5s linear infinite;
                }
            }
        }

        @keyframes jump {
            0% {
                transform: translateY(0%);
            }
            50% {
                transform: translateY(30%);
            }
            100% {
                transform: translateY(0%);
            }
        }

        @keyframes rotate {
            0% {
                transform: rotate(-15deg);
            }

            50% {
                transform: rotate(15deg);
            }

            100% {
                transform: rotate(-15deg);
            }
        }

        &:-webkit-scrollbar {
            display: none;
        }
    }

    @keyframes shift {
        100% {
            background-position: -100% 0;
        }
    }
}
.contacts {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #335858 30%, #7fb6a9 70%);

    &__content {
        position: relative;
        background: url(../images/nature3.gif) center no-repeat;
        background-size: 700px 400px;
        display: flex;
        align-items: center;
        height: 100vh;
        gap: 100px;
        justify-content: space-between;
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-link {
                display: flex;
                align-items: center;
                &-img {
                    width: 150px;
                    height: 150px;
                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }
                & p {
                    font-size: 45px;
                    color: #def7f7;
                    -webkit-text-stroke: 2px #295252;
                }
            }
            &-link2 {
                justify-content: space-between;
                flex-direction: row-reverse;
                & p {
                    color: #295252;
                    -webkit-text-stroke: 1px #def7f7;
                }
            }
        }
    }
}

.loader {
    cursor: url(../images/cursor.svg), auto;
    background: linear-gradient(0deg, #2f3737 35%, #b05f45 55%, #987880 75%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    place-items: center;

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        &-img {
            width: 300px;
            height: 300px;
            & img {
                width: 100%;
                height: 100%;
            }
        }

        &-link {
            cursor: url(../images/pointer.svg), auto;
            color: #2f3737;
            font-size: 30px;
            -webkit-text-stroke: 1px #fff200;
            text-shadow: 1px 1px #2f3737, 2px 2px #2f3737, 3px 3px #fff200, 4px 4px #fff200;
            transition: 0.2s;
            animation: opacity 0.2s ease-in-out infinite alternate;
        }

        @keyframes opacity {
            0% {
                opacity: 100;
            }

            50% {
                opacity: 0;
            }
            100% {
                opacity: 100;
            }
        }
    }
}
.about-loader {
    cursor: url(../images/cursor3.svg), auto;
    background: linear-gradient(0deg, #008b8b 35%, #75ff93 65%);
    &-link {
        cursor: url(../images/pointer3.svg), auto;
        color: #00dcb0;
        font-size: 30px;
        -webkit-text-stroke: 1px #008b8b;
        text-shadow: 1px 1px #008b8b, 2px 2px #008b8b, 3px 3px #026c52, 4px 4px #026c52;
        transition: 0.2s;
        animation: opacity 0.2s ease-in-out infinite alternate;
    }
}
.projects-loader {
    cursor: url(../images/cursor2.svg), auto;
    background: #385880;
    &-link {
        cursor: url(../images/pointer2.svg), auto;
        color: #00ff7c;
        font-size: 30px;
        -webkit-text-stroke: 1.5px #385880;
        text-shadow: 1px 1px #00ff7c, 2px 2px #00ff7c, 3px 3px #00ff7c, 4px 4px #385880;
        transition: 0.2s;
        animation: opacity 0.2s ease-in-out infinite alternate;
    }
}
.contacts-loader {
    cursor: url(../images/cursor2.svg), auto;
    background: linear-gradient(0deg, #335858 30%, #7fb6a9 70%);
    &-link {
        cursor: url(../images/pointer2.svg), auto;
        color: #00ff7c;
        font-size: 30px;
        -webkit-text-stroke: 1.5px #385880;
        text-shadow: 1px 1px #00ff7c, 2px 2px #00ff7c, 3px 3px #00ff7c, 4px 4px #385880;
        transition: 0.2s;
        animation: opacity 0.2s ease-in-out infinite alternate;
    }
}

.back {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: #c0f0f8;
    text-align: center;
    &-icon {
        cursor: url(../images/pointer2.svg), auto;
        font-size: 70px;
        color: transparent;
        -webkit-text-stroke: 3px #385880;
        &:hover {
            -webkit-text-stroke: 1px transparent;
            color: #385880;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header__content {
        background-size: 700px 400px;
        gap: 40px;
        &-link {
            cursor: url(../images/cursor.svg), auto;
            &-list {
                justify-content: center;
                &-item {
                    display: none;
                    font-size: 70px;
                    line-height: 100px;
                    text-underline-offset: 10px;
                    -webkit-text-stroke: 2px #fff200;
                    &:hover {
                        cursor: url(../images/pointer.svg), auto;
                        -webkit-text-stroke: 2px #fff200;
                    }
                }
            }
        }

        &-title {
            font-size: 20px;
            line-height: 20px;
            -webkit-text-stroke: 1px black;
        }
    }
    .about__content {
        &-top-title {
            font-size: 100px;
            text-shadow: 1px 1px #00ff7c, 2px 2px #00ff7c, 3px 3px #00ff7c, 4px 4px #026c52, 5px 5px #026c52, 6px 6px #026c52;
            -webkit-text-stroke: 1px darkcyan;
            color: darkcyan;
            background: url(../images/floating_mac.gif) top no-repeat;
            & span {
                font-size: 70px;
            }
        }
        &-bottom-text {
            font-size: 25px;
            line-height: 40px;
        }
    }
    .project__content {
        gap: 50px;
        background-size: 700px 400px;
        &-link-list-item {
            display: none;
            font-size: 60px;
            line-height: 90px;
            -webkit-text-stroke: 1px transparent;
            color: #00ff7c;
        }
    }
    .contacts {
        &__content {
            position: relative;
            flex-direction: column;
            align-items: start;
            &-list {
                gap: 10px;
                &-link {
                    gap: 10px;
                    &-img {
                        width: 100px;
                        height: 100px;
                    }
                    & p {
                        font-size: 40px;
                    }
                    &::after {
                        color: #fff200;
                        -webkit-text-stroke: 1px #295252;
                        content: "< Click";
                        font-size: 20px;
                        animation: opacity 0.5s linear infinite;
                        -webkit-animation: opacity 0.5s linear infinite;
                    }
                }
                &-link2 {
                    &::after {
                        content: "Click >";
                        font-size: 20px;
                    }
                }
            }
            &-list2 {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
            &-list1 {
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }
    .hover-marquee {
        &:hover {
            animation: none;
            -webkit-animation: none;
        }
    }

    .marquee {
        animation: none;
        -webkit-animation: none;
    }
    .marquee2 {
        animation: none;
        -webkit-animation: none;
    }

    .default-link {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .header {
        background: linear-gradient(0deg, #2f3737 44%, #b05f45 58%, #987880 70%);
        &__content {
            background-size: 550px 300px;
            gap: 20px;
            &-link-list {
                gap: 30px;
                &-item {
                    font-size: 50px;
                }
            }

            &-title {
                font-size: 18px;
                line-height: 20px;
                -webkit-text-stroke: 0.8px black;
            }
        }
    }

    .project__content {
        background-size: 550px 300px;
        gap: 40px;
        &-link-list-item {
            font-size: 50px;
        }
    }
    .contacts__content {
        background-size: 550px 300px;
    }
    .back {
        width: 80px;
        height: 80px;
        &-icon {
            font-size: 50px;
        }
    }
    .loader {
        &__content {
            gap: 30px;
            &-img {
                width: 200px;
                height: 200px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .nav {
        &-not-link {
            display: none;
        }
    }
    .about__content {
        &-top {
            &-title {
                font-size: 80px;
                padding-top: 180px;
                & span {
                    font-size: 60px;
                }
            }
            &-link {
                width: 100px;
                height: 100px;
                &::before {
                    top: 0;
                    left: 2%;
                    content: "About Me!";
                    font-size: 15px;
                    line-height: 20px;
                    color: darkcyan;
                }
            }
        }
        &-bottom {
            padding: 40px 20px;
            &-text {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .header {
        &__content {
            gap: 10px;
            background-size: 320px 170px;
            &-link-list {
                &-item {
                    font-size: 40px;
                }
            }

            &-title {
                font-size: 16px;
                line-height: 20px;
                -webkit-text-stroke: 0.5px black;
            }
        }
    }
    .contacts {
        &__content {
            background-size: 320px 170px;
            &-list {
                gap: 10px;
                &-link {
                    gap: 0px;
                    &-img {
                        width: 50px;
                        height: 50px;
                    }
                    & p {
                        font-size: 23px;
                    }
                    &::after {
                        font-size: 15px;
                    }
                }
                &-link2 {
                    &::after {
                        content: "Click >";
                        font-size: 15px;
                    }
                }
            }
            &-list2 {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
            &-list1 {
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }
    .project__content {
        background-size: 320px 170px;
        gap: 30px;
        &-link-list-item {
            font-size: 30px;
        }
    }

    .back {
        width: 80px;
        height: 80px;
        &-icon {
            font-size: 50px;
        }
    }
    .loader {
        &__content {
            gap: 30px;
            &-img {
                width: 200px;
                height: 200px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .nav {
        &-not-link {
            display: none;
        }
        &__content {
            padding: 5px 0;
            &-link {
                padding: 10px 0;
            }
        }
    }
    .about__content {
        &-top {
            height: 100vh;
            &-title {
                background: url(../images/floating_mac.gif) center no-repeat;
                background-size: 300px;
                font-size: 40px;
                & span {
                    font-size: 30px;
                }
                &:hover {
                    background: url(../images/floating_mac.gif) center no-repeat;
                    background-size: 300px;
                }
            }
            &-link {
                width: 80px;
                height: 80px;
                &::before {
                    top: 0;
                    left: 2%;
                    content: "About Me!";
                    font-size: 12px;
                    line-height: 5px;
                    color: darkcyan;
                }
            }
        }
        &-bottom {
            padding: 30px 15px;
            &-text {
                font-size: 18px;
                line-height: 22px;
            }
            &-list {
                grid-template-columns: repeat(2, 1fr);
                &-title {
                    grid-column: span 2;
                    font-size: 30px;
                }
                &-item {
                    font-size: 25px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .back {
        width: 50px;
        height: 50px;
        &-icon {
            font-size: 30px;
            &:hover {
                -webkit-text-stroke: 2px #385880;
            }
        }
    }
}
@media screen and (max-width: 350px) {
    .contacts {
        &__content {
            &-list {
                gap: 5px;
                &-link2 {
                    &::after {
                        content: "Click >";
                        font-size: 15px;
                    }
                    & p {
                        -webkit-text-stroke-width: 1px;
                    }
                }
                &-link {
                    gap: 5px;
                    &-img {
                        width: 50px;
                        height: 50px;
                    }
                    & p {
                        font-size: 15px;
                        -webkit-text-stroke-width: 1px;
                    }
                    &::after {
                        color: #fff200;
                        -webkit-text-stroke: 1px #295252;
                        font-size: 15px;
                    }
                }
                
            }
            &-list2 {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
            &-list1 {
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }
}
